
{%extends 'theme.html'%}

{%block main%}
         <div class="container">
            <div class="row mt-3">
                <!-- categories list columns-->
                <div class="col-lg-3">
                    <div class="list-group border shadow ">
                        <a href="/"
                            class="m-2 ">
                            <button class="btn btn-outline-dark"
                            style="width: 12rem;">
                            All Products
                            </button>                 
                        </a>
                        {% for j in categories %}
                        <a href="/?category={{j.id}}"
                            class="m-2">
                            <button class="btn btn-light"
                            style="width: 12rem;">
                                {{j.name}}
                            </button>
                            
                        </a>
                        {%endfor%}

                    </div>
                </div>


                <!-- products columns-->
                 <div class="col-lg-9">
                    <div class="row mt-5">
                        {%for i in products%}
                        <div class="col-lg-4">
                            
                            <div class="card mb-5 shadow "
                            style="width: 18rem; height: 35rem;">
                                <div class="card-header">
                                    <img src="{{i.image.url}}"
                                    class="img-fluid">
                                </div>
                                <div class="card-body">
                                     <h5>{{i.name}}</h5>
                                     <h5>price: {{i.price}}</h5>
                                     <h5>{{i.desc}}</h5>
        
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-outline-dark">
                                        Book Now
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                        {%endfor%}
                    </div>
                 </div>

            </div>
            
         </div>

{%endblock%}
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=80">
    <meta name="viewpoint", content="width=device-width, initial-scale=1.0">
<title>Page Title</title>
</head>
<body>

    <h1>My Products</h1>
    
        <table border="2">
            <tr>
                <td><b> Name</b></td>
                <td><b> Description</b></td>
                <td><b> image</b></td>
                <td><b> price</b></td>
            </tr>
            {%for i in products%}
            <tr>
                <td> {{i.name}} </td> 
                <td> {{i.desc}} </td> 
                <td> <img src="{{i.image.url}}" [width="200px" height="200px"] ></td> 
                <td> {{i.price}} </td> 
            </tr>
            {%endfor%}
        </table>

</body>
</html>
-->
